In [1]:
import pandas as pd
import os
import warnings
warnings.filterwarnings("ignore")

C:\Users\shrey\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [164]:
df = pd.read_csv("flight_price.csv")

In [42]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [5]:
# The data set contains 10,683 rows and eleven features.
# It also have single null value in Route and Total_Stops.
# The data type of few columns are not correct:-
        # The data type of columns such as Date_of_Journey, Dep_Time, Arrival_Time should be DATETIME but it is currently OBJECT.
        # The data type of columns such as Total_Stops, Duration should be INTEGER but it is currently OBJECT.

### 3. PRELIMINARY ANALYSIS

#### 3.1 CHECKING DATATYPE

In [6]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [7]:
df.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [8]:
df['Date_of_Journey'].iloc[0]

'24/03/2019'

In [9]:
df['Date_of_Journey'].iloc[1]

'1/05/2019'

In [10]:
df['Dep_Time'].iloc[0]

'22:20'

In [11]:
df['Dep_Time'].iloc[100]

'08:25'

In [12]:
df['Arrival_Time'].iloc[0]

'01:10 22 Mar'

In [13]:
df['Arrival_Time'].iloc[1]

'13:15'

In [14]:
df['Duration'].iloc[0]

'2h 50m'

In [15]:
df['Duration'].iloc[2000]

'8h 15m'

In [16]:
df['Total_Stops'].iloc[0]

'non-stop'

In [17]:
df['Total_Stops'].iloc[100]

'1 stop'

#### 3.2 CHECK FOR DUPLICATES

In [18]:
df.duplicated().sum()

220

In [19]:
df.shape

(10683, 11)

In [20]:
df.loc[df.duplicated(keep=False)].sort_values(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Dep_Time']).head(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6321,Air India,01/03/2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,2 stops,No info,17135
9848,Air India,01/03/2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,2 stops,No info,17135
572,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,21:10,23:55,2h 45m,non-stop,No info,7591
8168,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,21:10,23:55,2h 45m,non-stop,No info,7591
1495,Air India,1/04/2019,Kolkata,Banglore,CCU → DEL → COK → BLR,10:00,01:20 02 Apr,15h 20m,2 stops,No info,10408
9913,Air India,1/04/2019,Kolkata,Banglore,CCU → DEL → COK → BLR,10:00,01:20 02 Apr,15h 20m,2 stops,No info,10408
3598,Air India,1/05/2019,Kolkata,Banglore,CCU → GAU → DEL → BLR,09:50,08:55 02 May,23h 5m,2 stops,No info,13227
10183,Air India,1/05/2019,Kolkata,Banglore,CCU → GAU → DEL → BLR,09:50,08:55 02 May,23h 5m,2 stops,No info,13227
4603,Air India,1/05/2019,Kolkata,Banglore,CCU → DEL → COK → BLR,10:00,13:45 02 May,27h 45m,2 stops,No info,15164
5042,Air India,1/05/2019,Kolkata,Banglore,CCU → DEL → COK → BLR,10:00,13:45 02 May,27h 45m,2 stops,No info,15164

In [21]:
#From the above observation, we have confirmed that there are 220 duplicates, which are present in our data set.

In [22]:
# OBSERVATION :-

# -- The data that is present in a 'Date_of_Journey' column should have data type as DATETIME,
#    but currently the data is represented in OBJECT data type.

# -- The data that is present in a 'Dep_Time' column should have data type as DATETIME,
#    but currently the data is represented in OBJECT data type.

# -- The data that is present in a 'Arrival_Time' column should have data type as DATETIME,
#    but currently the data is represented in OBJECT data type.
# -- So the data that is present in the arrival time column should only consist of arrival time,
#    but in some cases it also has arrival date and arrival month, so we also need to handle this. 

# -- As we can make some more optimisation while representing the duration column, It's not that appropriate.

# -- We can represent total stock column in some better way because the way it is there currently is not that good enough.

# -- From the above, we can observe that there are 220 duplicate values that are present inside our data frame,
#    but to confirm this, we need to validate first.

### 4. ANALYSING IN MORE DETAIL

In [23]:
[i for i in df['Airline'].unique()]

['IndiGo',
 'Air India',
 'Jet Airways',
 'SpiceJet',
 'Multiple carriers',
 'GoAir',
 'Vistara',
 'Air Asia',
 'Vistara Premium economy',
 'Jet Airways Business',
 'Multiple carriers Premium economy',
 'Trujet']

In [24]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [25]:
[i for i in df['Additional_Info'].unique()]

['No info',
 'In-flight meal not included',
 'No check-in baggage included',
 '1 Short layover',
 'No Info',
 '1 Long layover',
 'Change airports',
 'Business class',
 'Red-eye flight',
 '2 Long layover']

In [26]:
# From this we can observe that just because of the case difference, the values are identifying uniquely.

### CLEANING OPERATION

In [125]:
def conver_to_minutes(data):
    return(
        data
        .str.split(" ", expand = True)
        .set_axis(['hours', 'minute'], axis = 1)
        .assign(
            hours = lambda df_: df_.hours.str.replace('h', "").astype(int).mul(60)
        )
        .assign(
            minute = lambda df_: df_.minute.str.replace('m',"").fillna('0').astype(int)
        )
        .sum(axis = 1)
    )

In [163]:
def clean_data(data):
    return (
        data
        .drop(index = [6474])
        .drop_duplicates()
        .assign(**{
            i: data[i].str.strip() 
            for i in data.select_dtypes(include='O').columns})
        .rename(columns=str.lower)
        .assign(
            date_of_journey = lambda df_: pd.to_datetime(data.Date_of_Journey, dayfirst=True),
            dep_time = lambda df_: pd.to_datetime(data['Dep_Time']).dt.time,
            arrival_time = lambda df_: pd.to_datetime(data.Arrival_Time.str.split(" ", n=1).str[0]).dt.time,
            duration = lambda df_: conver_to_minutes(df_.duration),
            total_stops = lambda df_:(
                df_.total_stops
                .str.replace("non-stop", '0')
                .str.replace("2 stops", "2")
                .str.replace("1 stop", "1")
                .str.replace("3 stops", "3")
                .str.replace("4 stops", '4')
                .pipe(lambda ser: pd.to_numeric(ser))
            ),
            additional_info = lambda df_: df_.additional_info.replace("No info", "No Info")
        )
        .drop(columns='route')
        
    )

In [151]:
def making_new_col_class(df_):
    df_[['Airline', 'Class']] = df_['Airline'].str.extract(r'^(.*?)\s*(Premium economy|Business)?$')
    df_['Class'].fillna('Economy', inplace=True)
    return df_
data = df
data = making_new_col_class(df)

In [153]:
clean_data(data)

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price,class
0,IndiGo,2019-03-24,Banglore,New Delhi,22:20:00,01:10:00,170,0.0,No Info,3897,Economy
1,Air India,2019-05-01,Kolkata,Banglore,05:50:00,13:15:00,445,2.0,No Info,7662,Economy
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25:00,04:25:00,1140,2.0,No Info,13882,Economy
3,IndiGo,2019-05-12,Kolkata,Banglore,18:05:00,23:30:00,325,1.0,No Info,6218,Economy
4,IndiGo,2019-03-01,Banglore,New Delhi,16:50:00,21:35:00,285,1.0,No Info,13302,Economy
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,19:55:00,22:25:00,150,0.0,No Info,4107,Economy
10679,Air India,2019-04-27,Kolkata,Banglore,20:45:00,23:20:00,155,0.0,No Info,4145,Economy
10680,Jet Airways,2019-04-27,Banglore,Delhi,08:20:00,11:20:00,180,0.0,No Info,7229,Economy
10681,Vistara,2019-03-01,Banglore,New Delhi,11:30:00,14:10:00,160,0.0,No Info,12648,Economy
10682,Air India,2019-05-09,Delhi,Cochin,10:55:00,19:15:00,500,2.0,No Info,11753,Economy

In [ ]:
df['Airline'].unique()

In [58]:
df[(df['Airline'] == 'Jet Airways Business')& (df['Source'] == 'Delhi') & (df['Destination'] == 'Cochin')]['Price'].mean()

49387.5

In [57]:
df[(df['Airline'] == 'Jet Airways') & (df['Source'] == 'Delhi')  & (df['Destination'] == 'Cochin')]['Price'].mean()

12642.593316519546

In [ ]:
#From the above observation,we can observe that there is a vast difference between the price of a normal class and other class, 
# which can be business or Premium economy, so we cannot eliminate the class that is present along with the airline name.

##### Airline

In [39]:
[i for i in data['Airline'].unique()]

['IndiGo',
 'Air India',
 'Jet Airways',
 'SpiceJet',
 'Multiple carriers',
 'GoAir',
 'Vistara',
 'Air Asia',
 'Trujet']

In [40]:
[i for i in data['Class'].unique()]

['Economy', 'Premium economy', 'Business']

##### Date_of_Journey

In [70]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [118]:
pd.to_datetime(df.Date_of_Journey, dayfirst=True)

0       2019-03-24
1       2019-05-01
2       2019-06-09
3       2019-05-12
4       2019-03-01
           ...
10678   2019-04-09
10679   2019-04-27
10680   2019-04-27
10681   2019-03-01
10682   2019-05-09
Name: Date_of_Journey, Length: 10683, dtype: datetime64[ns]

##### Source

In [133]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

##### Destination

In [135]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

##### Route

In [155]:
df['Route'].head()

0                BLR → DEL
1    CCU → IXR → BBI → BLR
2    DEL → LKO → BOM → COK
3          CCU → NAG → BLR
4          BLR → NAG → DEL
Name: Route, dtype: object

In [149]:
df['Dep_Time']

0        22:20
1        05:50
2        09:25
3        18:05
4        16:50
         ...
10678    19:55
10679    20:45
10680    08:20
10681    11:30
10682    10:55
Name: Dep_Time, Length: 10683, dtype: object

In [152]:
(
    df['Dep_Time']
    .loc[lambda ser: ser.str.contains("[^0-9:]")]
)

Series([], Name: Dep_Time, dtype: object)

In [153]:
# Using this we are just trying to verify that inside "Dep_Time" columns is there any value which have values other that 0-9:0-9

In [157]:
pd.to_datetime(df['Dep_Time']).dt.time

0        22:20:00
1        05:50:00
2        09:25:00
3        18:05:00
4        16:50:00
           ...
10678    19:55:00
10679    20:45:00
10680    08:20:00
10681    11:30:00
10682    10:55:00
Name: Dep_Time, Length: 10683, dtype: object

##### arival time

In [165]:
df['Arrival_Time']

0        01:10 22 Mar
1               13:15
2        04:25 10 Jun
3               23:30
4               21:35
             ...
10678           22:25
10679           23:20
10680           11:20
10681           14:10
10682           19:15
Name: Arrival_Time, Length: 10683, dtype: object

In [169]:
(
    df
    .Arrival_Time
    .loc[lambda ser:ser.str.contains("[^0-9:]")]
    .str.split(" ", n=1)
    .str.get(-1)
    .unique()
)

array(['22 Mar', '10 Jun', '13 Mar', '02 Mar', '10 May', '04 Mar',
       '13 Jun', '28 May', '19 Mar', '07 May', '02 Jun', '16 Jun',
       '19 May', '16 May', '28 Jun', '02 May', '28 Mar', '19 Jun',
       '04 Apr', '25 Mar', '07 Mar', '25 Jun', '07 Jun', '25 May',
       '13 May', '16 Mar', '22 May', '10 Apr', '04 Jun', '20 May',
       '28 Apr', '25 Apr', '10 Mar', '19 Apr', '13 Apr', '02 Apr',
       '23 Mar', '22 Apr', '11 May', '07 Apr', '03 May', '08 Mar',
       '03 Mar', '05 Mar', '22 Jun', '04 May', '26 May', '16 Apr',
       '26 Jun', '29 May', '29 Jun', '29 Mar', '23 May', '17 Jun'],
      dtype=object)

In [193]:
(
    df.Arrival_Time.str.split(" ", n=1).str[0]
)

0        01:10
1        13:15
2        04:25
3        23:30
4        21:35
         ...
10678    22:25
10679    23:20
10680    11:20
10681    14:10
10682    19:15
Name: Arrival_Time, Length: 10683, dtype: object

In [195]:
pd.to_datetime(df.Arrival_Time.str.split(" ", n=1).str[0]).dt.time

0        01:10:00
1        13:15:00
2        04:25:00
3        23:30:00
4        21:35:00
           ...
10678    22:25:00
10679    23:20:00
10680    11:20:00
10681    14:10:00
10682    19:15:00
Name: Arrival_Time, Length: 10683, dtype: object

##### DURATION

In [200]:
df['Duration']

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10683, dtype: object

In [64]:
(
    df['Duration'].loc[lambda ser: ~ser.str.contains('m')].unique()
)

array(['19h', '23h', '22h', '12h', '3h', '5h', '10h', '18h', '24h', '15h',
       '16h', '8h', '14h', '20h', '13h', '11h', '9h', '27h', '26h', '4h',
       '7h', '30h', '21h', '28h', '47h', '6h', '25h', '38h', '34h'],
      dtype=object)

In [66]:
(
    df['Duration'].loc[lambda ser: ~ser.str.contains('h')].unique()
)

array(['5m'], dtype=object)

In [67]:
df[df['Duration'] == '5m']

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6474,Air India,6/03/2019,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,16:50,16:55,5m,2 stops,No info,17327

In [71]:
(
    data['Duration'].loc[lambda ser: ~ser.str.contains('h')].unique()
)

array(['5m'], dtype=object)

In [72]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Class
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,Economy
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,Economy
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,Economy
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,Economy
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,Economy
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,Economy
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,Economy
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,Economy
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,Economy
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,Economy

In [ ]:
# If we see this instance, then we can get that the person is traveling from Mumbai to Hyderabad,
# and the duration of the journey is 5 minutes. And this thing is not logically correct, so we will just discard it.

In [246]:
durations = []
for dura in df['Duration']:

    s = dura.strip()
    num = 0
    hrs=""
    minute = ""
    i = 0
    while i<len(s) and (s[i]!='h'):
        if s[i].isdigit():
            hrs += s[i]
        i+=1
    if hrs:
        num = int(hrs) * 60
    
    i += 2
    
    while i<len(s) and (s[i]!='m'):
        if s[i].isdigit():
            minute += s[i]
        i+=1
    if minute:
        num += int(minute)      
    durations.append(num)

In [275]:
# converting the above code into single line code so that we can fit it inside clean_data function
[(int(dura.split('h')[0].strip()) * 60 if 'h' in dura else 0) 
+(int(dura.split('h')[-1].split('m')[0].strip()) if 'm' in dura else 0) 
 for dura in ['2h 30m', '5h', '45m']]

[150, 300, 45]

In [248]:
len(durations)

10683

In [249]:
df['Duration'] = durations

In [252]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Class
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,170,non-stop,No info,3897,Economy
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,445,2 stops,No info,7662,Economy
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,1140,2 stops,No info,13882,Economy
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,325,1 stop,No info,6218,Economy
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,285,1 stop,No info,13302,Economy

In [270]:
[(int(dura.split('h')[0].strip()) * 60 if 'h' in dura else 0) 
+(int(dura.split('h')[-1].split('m')[0].strip()) if 'm' in dura else 0) 
 for dura in ['2h 30m', '5h', '45m']]

[150, 300, 45]

In [104]:
# ALTERNATE METHOD TO DO THE SAME

(
    df
    .Duration
    .drop(index=[6474])
    .str.split(" ", expand = True)
    .set_axis(['hours', 'minute'], axis = 1)
    .assign(
        hours = lambda df_: df_.hours.str.replace('h', "").astype(int).mul(60)
    )
    .assign(
        minute = lambda df_: df_.minute.str.replace('m',"").fillna('0').astype(int)
    )
    .sum(axis = 1)
)

0         170
1         445
2        1140
3         325
4         285
         ...
10678     150
10679     155
10680     180
10681     160
10682     500
Length: 10682, dtype: int64

In [112]:
(
    df
    .Duration
    .drop(index=[6474])
    .str.split(" ", expand = True)
    .set_axis(['hours', 'minute'], axis = 1)
    .assign(
        hours = lambda df_: df_.hours.str.replace('h', "").astype(int).mul(60)
    )
    .assign(
        minute = lambda df_: df_.minute.str.replace('m',"").fillna('0').astype(int)
    )
    .sum(axis = 1)
    .rename("duration_minutes")
    .to_frame()
    .join(df['Duration'].drop(index = 6474)).head()
)

   duration_minutes Duration
0               170   2h 50m
1               445   7h 25m
2              1140      19h
3               325   5h 25m
4               285   4h 45m

##### TOTAL_STOPS

In [129]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [135]:
(
    df
    .Total_Stops
    .str.replace("non-stop", '0')
    .str.replace("2 stops", "2")
    .str.replace("1 stop", "1")
    .str.replace("3 stops", "3")
    .str.replace("4 stops", '4')
    .pipe(lambda ser: pd.to_numeric(ser))
    .unique()
)

array([ 0.,  2.,  1.,  3., nan,  4.])

In [141]:
#####

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [146]:
[i for i in df['Additional_Info'].unique()]

['No info',
 'In-flight meal not included',
 'No check-in baggage included',
 '1 Short layover',
 'No Info',
 '1 Long layover',
 'Change airports',
 'Business class',
 'Red-eye flight',
 '2 Long layover']

In [165]:
df = making_new_col_class(df)
cleaned_dataset = clean_data(df)

In [166]:
cleaned_dataset['class'].unique()

array(['Economy', 'Premium economy', 'Business'], dtype=object)

In [167]:
cleaned_dataset.to_csv("cleaned_dataset_final.csv",index = False)

In [168]:
cleaned_dataset['class'].unique()

array(['Economy', 'Premium economy', 'Business'], dtype=object)

In [169]:
cleaned_dataset['airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia', 'Trujet'],
      dtype=object)

In [171]:
cleaned_dataset.head()

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price,class
0,IndiGo,2019-03-24,Banglore,New Delhi,22:20:00,01:10:00,170,0.0,No Info,3897,Economy
1,Air India,2019-05-01,Kolkata,Banglore,05:50:00,13:15:00,445,2.0,No Info,7662,Economy
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25:00,04:25:00,1140,2.0,No Info,13882,Economy
3,IndiGo,2019-05-12,Kolkata,Banglore,18:05:00,23:30:00,325,1.0,No Info,6218,Economy
4,IndiGo,2019-03-01,Banglore,New Delhi,16:50:00,21:35:00,285,1.0,No Info,13302,Economy

### 6. SPLITING THE DATA

In [172]:
x = cleaned_dataset.drop(columns='price')
y = cleaned_dataset['price']

In [174]:
from sklearn.model_selection import train_test_split

In [175]:
X_, X_test, Y_, Y_test = train_test_split(x, y, test_size = 0.2, random_state=101)

In [176]:
X_train, X_val, Y_train, Y_val = train_test_split(X_, Y_, test_size=0.2, random_state=101)

In [177]:
print("The Shape of X_train:", X_train.shape)
print("The Shape of X_test:", X_test.shape)
print("The Shape of X_val:", X_val.shape)
print("The Shape of Y_test:", Y_test.shape)
print("The Shape of Y_train:", Y_train.shape)
print("The Shape of Y_val:", Y_val.shape)

The Shape of X_train: (6695, 10)
The Shape of X_test: (2093, 10)
The Shape of X_val: (1674, 10)
The Shape of Y_test: (2093,)
The Shape of Y_train: (6695,)
The Shape of Y_val: (1674,)

In [180]:
PROJECT_DIR = r"C:\Users\shrey\Desktop\Flight_Price_prediction"
DATA_DIR = "Data"

In [182]:
def export_data(X, Y, name):
    file_name = f"{name}.csv"
    file_path = os.path.join(PROJECT_DIR, DATA_DIR, file_name)
    
    X.join(Y).to_csv(file_path, index = False)
    return pd.read_csv(file_path).head()

In [183]:
export_data(X_train, Y_train, "Train")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,class,price
0,IndiGo,2019-05-09,Delhi,Cochin,06:50:00,16:10:00,560,1.0,No Info,Economy,6442
1,Air India,2019-04-03,Mumbai,Hyderabad,06:20:00,07:40:00,80,0.0,No Info,Economy,3100
2,SpiceJet,2019-05-15,Kolkata,Banglore,11:15:00,18:30:00,435,1.0,No Info,Economy,8844
3,Jet Airways,2019-06-09,Delhi,Cochin,19:45:00,12:35:00,1010,1.0,In-flight meal not included,Economy,10577
4,Jet Airways,2019-06-18,Delhi,Cochin,09:50:00,13:05:00,195,0.0,No Info,Economy,9564

In [184]:
export_data(X_test, Y_test, "Test")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,class,price
0,SpiceJet,2019-03-09,Chennai,Kolkata,08:20:00,10:35:00,135,0.0,No Info,Economy,6300
1,Jet Airways,2019-05-27,Delhi,Cochin,13:25:00,04:25:00,900,2.0,No Info,Economy,16704
2,Multiple carriers,2019-05-09,Delhi,Cochin,11:30:00,01:30:00,840,1.0,No Info,Economy,15078
3,IndiGo,2019-06-18,Kolkata,Banglore,21:25:00,00:05:00,160,0.0,No Info,Economy,4804
4,Multiple carriers,2019-05-21,Delhi,Cochin,14:00:00,21:00:00,420,1.0,No Info,Economy,14067

In [185]:
export_data(X_val, Y_val, "Validation")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,class,price
0,SpiceJet,2019-06-01,Banglore,Delhi,05:55:00,08:35:00,160,0.0,No Info,Economy,3625
1,Jet Airways,2019-06-21,Banglore,Delhi,17:45:00,20:45:00,180,0.0,In-flight meal not included,Economy,7754
2,Jet Airways,2019-03-12,Banglore,New Delhi,05:45:00,20:20:00,875,1.0,No Info,Economy,13817
3,Jet Airways,2019-06-12,Mumbai,Hyderabad,19:35:00,21:05:00,90,0.0,No Info,Economy,5678
4,Jet Airways,2019-06-27,Delhi,Cochin,15:00:00,12:35:00,1295,1.0,In-flight meal not included,Economy,10262

In [186]:
export_data(x, y, "cleaned_dataset")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,class,price
0,IndiGo,2019-03-24,Banglore,New Delhi,22:20:00,01:10:00,170,0.0,No Info,Economy,3897
1,Air India,2019-05-01,Kolkata,Banglore,05:50:00,13:15:00,445,2.0,No Info,Economy,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25:00,04:25:00,1140,2.0,No Info,Economy,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,18:05:00,23:30:00,325,1.0,No Info,Economy,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,16:50:00,21:35:00,285,1.0,No Info,Economy,13302

In [ ]:
class RBFPercentileSimilarity(BaseEstimator, TransformerMixin):
	def __init__(self, variables=None, percentiles=[0.25, 0.5, 0.75], gamma=0.1):
		self.variables = variables
		self.percentiles = percentiles
		self.gamma = gamma


	def fit(self, X, y=None):
		if not self.variables:
			self.variables = X.select_dtypes(include="number").columns.to_list()

		self.reference_values_ = {
			col: (
				X
				.loc[:, col]
				.quantile(self.percentiles)
				.values
				.reshape(-1, 1)
			)
			for col in self.variables
		}

		return self


	def transform(self, X):
		objects = []
		for col in self.variables:
			columns = [f"{col}_rbf_{int(percentile * 100)}" for percentile in self.percentiles]
			obj = pd.DataFrame(
				data=rbf_kernel(X.loc[:, [col]], Y=self.reference_values_[col], gamma=self.gamma),
				columns=columns
			)
			objects.append(obj)
		return pd.concat(objects, axis=1)